*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Shared Style */
.font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
.logo h2{
    font-size: 45px;
    font-weight: 900;
}
.color-orange{
    color: #FD6E0A;
}
.btn{
    background-color: #FD6E0A;
    padding: 20px 36px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.section-heading{
    max-width: 827px;
    text-align: center;
    margin: 0 auto;
}
.text-center{
    text-align: center;
}

/* main style */
header{
    margin: 0 auto;
    max-width: 1600px;
    background-color: #FFF8F3;
    background: url("../images/developer.png"), url("../images/header_bg.png"), #FFF8F3;
    background-position: 23px 38px, bottom right;
    background-repeat: no-repeat;
    padding-top: 50px;
}
nav{
    /* width: 60%; */
    max-width: 1140px;
    /* border: 1px solid green; */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
nav .menu{
    display: flex;
    list-style: none;
    gap: 52px;
    /* padding: 20px; */
    align-items: center;
}
nav .menu a{
    font-size: 20px;
    font-weight: 400;
    color: #474747;
    text-decoration: none;
}
#banner{
    /* width: 70%; */
    max-width: 1332px;
    /* border: 1px solid red; */
    margin: 45px 40px 0px 231px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#banner .banner-content{
    max-width: 585px;
}
#banner .banner-content h2{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;
}
#banner .banner-content h1{
    font-size: 85px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
}
#banner .banner-content p{
    font-size: 18px;
    font-weight: 400;
    color: #757575;
    margin-bottom: 30px;
}
#banner .banner-image{
    max-width: 585px;
    max-height: 680px;
    vertical-align: middle;
}

#about-me{
    padding-top: 125px;
}

#about-me .about-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    padding: 131px 157px;
    background-color: #FFF8F3;
}
.section-heading h2{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 30px;
}

.section-heading p{
    font-size: 18px;
    font-weight: 400;
    color: #757575;
    margin-bottom: 30px;
}
.about-info{
    display: flex;
    justify-content: space-between;
    padding: 0 23px;
}
.about-info .info-card p{
    font-size: 20px;
    font-weight: 400;
    color: #757575;
}
.about-info .info-card h4{
    font-size: 20px;
    font-weight: bold;
    color: #474747;
}
#skills{
    padding-top: 130px;
}
.skill-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
}
.skills-info{
    display: flex;
    justify-content: space-between;
    gap: 24px;
    margin-top: 50px;
}
.skills-card{
    padding: 30px 33px;
    background-color: #FFFFFF;
    box-shadow: 0 6px 50px 0 #00000010;
}
.skills-card img{
    width: 40px;
    height: 40px;
    margin-bottom: 30px;
}
.skills-card h3{
    font-size: 20px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
}
.skills-card p{
    font-size: 16px;
    font-weight: 400;
    color: #757575;
}
#resume{
    padding-top: 130px;
    margin: 0 auto;
}
.resume-container{
    width: 68%;
    max-width: 1093px;
    margin: 0 auto;
    /* justify-content: ; */
}
.box{
    display: flex;
    padding-top: 125px;
    gap: 24px;
}
.box h2{
    font-size: 30px;
    font-weight: bold;
    color: #474747;
    margin-bottom: 30px;
}
.box h3{
    font-size: 25px;
    font-weight: bold;
    color: #474747;
    margin-bottom: 10px;
}
.box h4{
    font-size: 20px;
    font-weight: 600;
    color: #757575;
    margin-bottom: 20px; 
}
.box p{
    font-size: 16px;
    font-weight: 400;
    color: #757575;
    margin-bottom: 50px;
}
hr{
    margin-bottom: 30px;
}
.card{
    max-width: 511px;
    margin-right: 47px;
}
.footer{
    margin-top: 113px;
    background-color: #FFF8F3;
}
.footer-container{
    display: flex;
    width: 71%;
    max-width: 1140px;
    padding: 130px 0;
    margin: 0 auto;
    gap: 117px;

}

.footer-container .social{
    max-width: 562px;
}

.footer-container h2{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
}
.footer-container .social p{
    font-size: 16px;
    color: #474747;
    line-height: 28px;
    margin-bottom: 30px;
}
.footer-container .icons a{
    margin-right: 24px;
}
.footer-container form input[type="text"], .footer-container form textarea{
    width: 461px;
    border: none;
    padding: 18px 31px;
    margin-bottom: 24px;
    border-radius: 5px;
    color: #757575;
}

