*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Shared Style */
.font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
.logo h2{
    font-size: 45px;
    font-weight: 900;
}
.color-orange{
    color: #FD6E0A;
}
.btn{
    background-color: #FD6E0A;
    padding: 20px 36px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 5px;
}
/* main style */
header{
    background-color: #FFF8F3;
    padding-top: 50px;
}
nav{
    width: 60%;
    max-width: 1140px;
    /* border: 1px solid green; */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
nav .menu{
    display: flex;
    list-style: none;
    gap: 52px;
    /* padding: 20px; */
    align-items: center;
}
nav .menu a{
    font-size: 20px;
    font-weight: 400;
    color: #474747;
    text-decoration: none;
}


